<head>
  <title>TinyApp</title>
  <link rel='stylesheet' href='/styles/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Proza+Libre:400,700|Scope+One&display=swap" rel="stylesheet">
</head>